---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

    <!-- Hidden FlagCounter Tracker
    <img 
      src="https://s01.flagcounter.com/count2/twIt/bg_FFFFFF/txt_000000/border_FFFFFF/columns_0/maxflags_0/viewers_0/labels_0/pageviews_0/flags_0/percent_0/"
      style="display:none;" 
      alt="hidden counter"
    /> -->

    <!-- Hidden FlagCounter Tracker -->
    <img 
      src="https://s01.flagcounter.com/count2/twIt/bg_FFFFFF/txt_000000/border_CCCCCC/columns_5/maxflags_20/viewers_0/labels_1/pageviews_1/flags_0/percent_0/"
      width="1" height="1" style="position:absolute; left:-9999px;" 
      alt="hidden counter"
    />

  </body>
</html>
